html{
    scroll-behavior: smooth;
}

#home{
    font-family: 'Almarai', sans-serif;
}


#full-name{
    font-family: 'Almarai', sans-serif;
    font-weight: 700;
}

#title{
    font-family: 'Almarai', sans-serif;
    font-weight: 700;

}

#bio{
    font-family: 'Almarai', sans-serif;
}
