html{
    scroll-behavior: smooth;
}

#home{
    font-family: 'Almarai', sans-serif;
    color: rgba(18, 19, 15, 0.856);
}


#full-name{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

#resume-btn{
    font-family: 'Fira Code', monospace;
}

#bio{
    font-family: 'Almarai', sans-serif;
}

#about-me{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

#hello{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

#about-bio{
    font-family: 'Almarai', sans-serif;
}

#intro{
    font-family: 'Almarai', sans-serif;
}


#projects{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

#journez{
    font-family: 'Fira Code', monospace;
}

#journez-bio{
    font-family: 'Almarai', sans-serif;
}

#contact{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

#contact-header{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

#email-btn{
    font-family: 'Fira Code', monospace;
}

#or{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

