html{
    scroll-behavior: smooth;
}

#home{
    font-family: 'Almarai', sans-serif;
    color: rgba(18, 19, 15, 0.856);
}


#full-name{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}


#bio{
    font-family: 'Almarai', sans-serif;
}
